a,.btn{
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

html{
  /* font-size: 14px */
  font-family: "Noto Serif","Noto Serif JP";
  font-size: 0.97vw;
}

body{
  margin: 0;
}

h2{
  font-size: 4.28rem;
  margin: 0;
  margin-bottom: 5.07rem;
  position: relative;
}

h2:before{
  content: '';
  position: absolute;
  top: 3rem;
  width: 14.28rem;
  height: 3px;
  transform: translate(-30%);
  background-color: #000;
}

.wrapper div:nth-of-type(odd) h2{
  margin-left: 6rem;
}

.wrapper div:nth-of-type(even) h2{
  text-align: right;
  margin-right: 17.78rem;
  color: #fff;
}

.wrapper div:nth-of-type(even) h2:before{
  background-color: #fff;
}

.concept h2:before{
  left: 24rem;
}

.concept-wrapper{
  margin: 7.14rem 8.57rem 5rem;
}

.impact-content{
  width: 32.85rem;
  margin: 0 auto;
  margin-bottom: 4.28rem;
}

.impact-content p{
  font-size: 1.71rem;
  text-align: center;
}

.concept-flex-contents{
  display: flex;
  justify-content: space-around;
}

.content{
  letter-spacing: 0.05em;
  line-height: 30px;
}

.concept-content{
  width: 31.42rem;
}

.concept-content p{
  margin: 0;
}

.concept-img img{
  width: 31.42rem;
  height: auto;
}

.bg-text{
  font-weight: bold;
  margin-top: 5rem;
  font-size: 6.42rem;
}

.bg-text-white{
  text-align: right;
  color: rgba(23, 23, 23, 0.05);
}

.bg-text-black{
  text-align: left;
  color: #fff;
  opacity: 16%;
}

.works-wrapper,.contact-wrapper{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70.42rem;
}

.works-wrapper-img{
  height: 70.42rem;
  background-image: url(../img/works-bgi@2x.jpg);
}

.works{
  padding: 7.42rem 8.57rem 5rem;
}

.works h2:before,.contact h2:before{
  right: -21rem;
}

.works-cards{
  display: flex;
}

.card{
  margin-left: 1.42rem;
  margin-top: 5.71rem;
  width:calc((100% - (1.42rem * 2) )/ 3);
  background-color: #fff;
}

.works-pic img{
  width: 100%;
  height: auto;
}

@media screen and (min-width:641px) {
  .card:nth-child(3n+1){
    margin-left: 0;
  }

  .card:nth-child(-n+3){
    margin-top: 0;
  }
}

.works-content{
  padding: 1.78rem 2.35rem;
}

.detail-btn a{
  margin: 5.71rem auto 5rem;
}

.btn a{
  font-size: 1.14rem;
  color: #000;
  width: 16.78rem;
  height: 4.21rem;
  background-color: #F7D43F;
  border-radius: 25px;
  line-height: 4.21rem;
}

.service{
  margin: 7.14rem 0 5rem;
}

.service h2{
  padding-left: 9.71rem;
}

.service h2:before{
  left: 32rem;
}

.service-flex-contents{
  display: flex;
}

.service-flex-cell{
  width:calc(100%/ 3);
  height: 22.85rem;
  font-size: 2.85rem;
  text-align: center;
  line-height: 22.85rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  position: relative;
}

.service-flex-cell:before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.service-flex-cell:hover div{
  background-color: #000;
  opacity: 0.6;
}

.hearing-img{
  background-image: url(../img/service-img1.jpg);
}

.planning-img{
  background-image: url(../img/service-img2.jpg);
}

.direction-img{
  background-image: url(../img/service-img3.jpg);
}

.bg-text-service{
  margin-right: 8.57rem;
}

.contact-wrapper-img{
  height: 47.57rem;
  background-image: url(../img/contact-bg.jpg);
}

.contact{
  padding: 6rem 23.2rem 5rem;
}

.contact-text{
  margin-top: 5.71rem;
  font-size: 1.42rem;
  color: #fff;
  text-align: center;
}

.contact-btn a{
  margin: 2.85rem auto 5rem;
}

.submit-btn{
  font-size: 1.14rem;
  color: #000;
  width: 16.78rem;
  height: 4.21rem;
  background-color: #F7D43F;
  border-radius: 25px;
  line-height: 4.21rem;
  margin: 5rem auto 0;
}

.contact h1{
  margin: 0;
  font-weight: bold;
}

.contact p{
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.form{
  width: 100%;
}

.contact-form{
  height: 10.5rem;
}

@media screen and (max-width:375px) {
  html{
    /* font-size: 14px */
    font-family: "Noto Serif","Noto Serif JP";
    font-size: 4.2vw;
  }

  h2{
    font-size: 1.87rem;
    margin: 0;
    margin-bottom: 3.18rem;
    position: relative;
  }

  h2:before{
    top: 1.3rem;
    width: 5.625rem;
  }

  .wrapper div:nth-of-type(odd) h2{
    margin-left: 0;
  }

  .wrapper div:nth-of-type(even) h2{
    margin-right: 8.12rem;
  }

  .concept h2:before{
    left: 11.5rem;
  }

  .concept-wrapper{
    margin: 6.25rem 0.93rem 2.5rem;
  }

  .impact-content{
    width: 20.75rem;
    margin-bottom: 1.9rem;
  }

  .impact-content p{
    font-size: 1.25rem;
  }

  .concept-flex-contents{
    flex-direction: column;
  }

  .concept-content{
    width: auto;
    margin-bottom: 1.9rem;
  }

  .concept-img img{
    width: 100%;
  }

  .bg-text{
    margin-top: 2.5rem;
    font-size: 2.85rem;
  }

  .works{
    padding: 5.25rem 1rem 2.5rem;
  }

  .works-wrapper{
    background-size: 100% 104.12rem;
  }

  .works-wrapper-img{
    height: 107rem;
  }

  .works h2:before{
    right: -9rem;
  }

  .works-cards{
    flex-direction: column;
  }

  .card{
    width: 92%;
    margin: 2rem auto 0;
  }

  .service{
    margin-top: 6rem;
  }

  .service h2{
    padding-left: 1rem;
  }

  .service h2:before{
    left: 11.5rem;
  }

  .service-flex-contents {
    flex-direction: column;
  }

  .service-flex-cell{
    width: 100%;
    height: 15.6rem;
    line-height: 15.6rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-size: 100% 100%;
  }

  .bg-text-service {
    margin-right: 1rem;
  }

  .contact{
    padding: 6rem 1rem 2.2rem;
  }

  .contact h2:before{
    left: 17rem;
  }

  label{
    display: block;
  }

}
